@layer base, starlight, theme, components, utilities;

@import "@astrojs/starlight-tailwind";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html,
  body,
  p {
    margin: 0;
    padding: 0;
  }

  body {
    min-height: 100vh;
    -webkit-text-size-adjust: 100%;
  }

  .site-title > span {
    display: none;
  }
}

@theme {
  --color-accent-50: var(--color-gray-50);
  --color-accent-100: var(--color-gray-100);
  --color-accent-200: var(--color-gray-200);
  --color-accent-300: var(--color-gray-300);
  --color-accent-400: var(--color-gray-400);
  --color-accent-500: var(--color-gray-500);
  --color-accent-600: var(--color-gray-600);
  --color-accent-700: var(--color-gray-700);
  --color-accent-800: var(--color-gray-800);
  --color-accent-900: var(--color-gray-900);
  --color-accent-950: var(--color-gray-950);
}
